
@media (min-width: 576px) { 
    .font1 {
        color: blue;
    }
 }

@media (min-width: 768px) {
    .font1 {
        color: red;
    }
}

@media (min-width: 992px) {
    .font1 {
        color: green;
    }
}

@media (min-width: 1200px) {
    .font1 {
        color: gold;
    }
}