@media (min-width: 576px) {
    .font1{
        color:royalblue;
    }

    .bannerresponsive{
      width: 80%;
    }
  }
  

  @media (min-width: 768px) {
     .font1{
        color:palevioletred;
    }
    .bannerresponsive{
      width: 100%;
    }
  }
  

  @media (min-width: 992px) {
    .font1{
        color:teal;  
    }
    .bannerresponsive{
      width: 50%;
    }
  }
  
 
  @media (min-width: 1200px) {
    .font1{
        color:gold;
    }
    .bannerresponsive{
      width: 50%;
    }
  }