@media (min-width: 576px) { 
    .font1{
        color:royalblue;
    }
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
     .font1{
        color:palevioletred;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .font1{       
        color:teal;
    
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .font1{
        color:gold;
    }
 }